:root {
    font-family: 'Noto Sans SC', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --gap-color: rgb(250 250 252 / 100%); /* 间隔颜色 */
}

:root[data-theme="dark"] {
    --gap-color: rgb(38 38 42 / 100%);
}

.bottom-line {
    box-shadow: 0 0 0 1px #ccc;
}