@import url("./theme/style/base.css");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}

.iconpark-icon {
  /* 图标默认大小设置 */
  width: 1em;
  height: 1em;
}
