:root {
  font-family: 'Noto Sans SC', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconpark-icon {
  /* 图标默认大小设置 */
  width: 1em;
  height: 1em;
}
